<!-- {{yield}} -->
<div class="article">
  <img src={{article.mainImage}}>
  <h3 >{{article.title}}</h3>
  <p>{{article.text}}</p>
  <h6>{{article.author}}</h6>
  <h6>{{article.date}}</h6>
  <button {{action "delete" article}}>Delete this article</button>
  
</div>
