{{#if updateArticleForm}}
  <h1>Write a new article</h1>
  <form>
        <div class="form-group">
          <label for="author">Author</label>
          {{input value=author id="author" placeholder=article.author}}
        </div>

        <div class="form-group">
          <label for="title">Title</label>
          {{input value=title id="title" placeholder=article.title}}
        </div>

        <div class="form-group">
          <label for="text">Body</label>
          {{input value=text id="text" placeholder=article.text}}
        </div>

        <div class="form-group">
          <label for="category">Article category</label>
          {{input value=category id="category" placeholder=article.category}}
        </div>

        <div class="form-group">
          <label for="mainImage">Header Image URL</label>
          {{input value=mainImage id="mainImage" placeholder=article.mainImage}}
        </div>

        <button {{action 'update' article}}>Save</button>
      </form>
    {{else}}
      <button {{action 'updateArticle'}} class="btn btn-warning">Update Article</button>
    {{/if}}
